body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}
.header-margin {
  margin-left: 10%;
  margin-right: 10%;
}
header {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}
.bluedot {
  background-color: blue;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  height: 10px;
  width: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .logo {
  color: black;
  display: inline-block;
  height: 21.3px;
  font-size: 27px;
  letter-spacing: 0.62px;
  line-height: 40px;
}
header nav {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #3e3e3e;
  font-family: Heebo;
  font-size: 15px;
  letter-spacing: 0.37px;
  text-decoration: none;
  margin-right: 24px;
}
header nav ul li:last-of-type a {
  margin-right: 0;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero-content {
  position: absolute;
  width: 100%;
  top: 80px;
  /* left: 0; */
  padding-top: 8%;
  padding-bottom: 8%;
}
@media only screen and (min-device-width: 1450px) {
  .hero-content {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
.bg-image {
  background-image: url("img/Hero_image.jpg");
}
section.hero {
  /* position: relative; */
  /* height: 30%; */
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content .herotext {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: 10%;
}
.herotext h2 {
  /* height: 85.75px;
  max-width: 495px; */
  color: #fff;
  font-family: Heebo;
  font-size: 50px;
  letter-spacing: 1.25px;
  line-height: 56px;
  font-weight: normal;
  margin: 0;
}
.herotext p {
  /* height: 80.25px; */
  /* max-width: 518px; */
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: lighter;
}
.herotext button {
  height: 50px;
  width: 220px;
  border-radius: 220px;
  background-color: blue;
  color: white;
  text-transform: uppercase;
  border: none;
}
.best-seller {
  color: #000;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  text-align: center;
  margin-top: 79px;
}
.best-seller hr {
  box-sizing: border-box;
  height: 0;
  width: 66px;
  border: 4px solid #67f11d;
}
section .product-slide .borderstyle {
  /* display: flex; */
  /* justify-content: space-around; */
  width: 100%;
  margin-top: 50px;
}
section .product {
  box-sizing: border-box;
  /* height: 650px; */
  width: 33%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(221, 212, 212);
  position: relative;
  display: inline-block;
  padding: 15px;
}
@media only screen and (max-device-width: 769px) {
  section .product {
    width: 49%;
  }
}
@media only screen and (max-device-width: 576px) {
  section .product {
    width: 100%;
  }
}

.product.new::before {
  content: "New";
  position: absolute;
  /* height: 31px; */
  /* width: 81px; */
  border-radius: 40px;
  background-color: #ec1c1c;
  height: 20px;
  width: 73px;
  color: #fff;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
  line-height: 21px;
  text-align: center;
  top: 17px;
  right: 16px;
  padding: 7px;
}

.product .name {
  color: #3e50e5;
  font-family: Heebo;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
  text-align: center;
}
.product .title {
  color: #000;
  font-family: Heebo;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 26px;
  text-align: center;
}
.product .ruppes {
  color: #000;
  font-family: Heebo;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.7px;
  /* line-height: 30px; */
  text-align: center;
}
.ruppes h1 {
  font-size: 22px;
  margin: 0px !important;
  padding-bottom: 10px;
}
.title h3 {
  margin: 0;
  /* padding-bottom: 5px; */
  font-size: 18px;
  font-weight: 400;
}
.name h5 {
  margin: 0;
  /* padding-bottom: 5px; */
}
.product .images img {
  text-align: center;
  padding: 11%;
  width: 200px;
  height: 200px;
}
.product button {
  border-radius: 220px;
  padding: 10px 50px;
  margin-bottom: 20px;
  background-color: white;
}
.addtobag-contain {
  text-align: center;
  width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.product .addtobag {
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  text-transform: uppercase;
}
.images {
  text-align: center;
}
.product .ruppes .discount-price {
  color: #ec1c1c;
}
.product .ruppes .original-price {
  text-decoration: line-through;
  color: #9b9b9b;
  height: 31px;
  width: 86px;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: normal;
}
section.news-letter {
  max-width: 100%;
  height: 292px;
  width: 955px;
  background-color: rgba(200, 200, 200, 0.18);
  text-align: center;
  margin-top: 80px;
  width: 50%;
}
section.news-letter h3 {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 42px;
  padding-top: 56px;
}
section.news-letter p {
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 42px;
}
section.news-letter button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 0px 40px 40px 0px;
  width: 145px;
  text-transform: uppercase;
}
form {
  display: flex;
  justify-content: center;
}
input {
  border-radius: 40px 0px 0px 40px;
  height: 50px;
  width: 326px;
  padding-left: 20px;
}
footer .last-list {
  height: 317px;
  background-color: #3e3e3e;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
footer .below-list {
  height: 59px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  font-family: Heebo;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 22px;
  text-align: center;
  padding-top: 20px;
}
footer .list-title {
  height: 29px;
  color: #fff;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-top: 20px;
}
footer .styile-list {
  list-style-type: none;
  padding-right: 30px;
}
footer .last-list ul li a {
  height: 22px;
  color: #e0e0e0;
  font-family: Heebo;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 22px;
  text-decoration: none;
}
footer .last-list ul li {
  margin-bottom: 20px;
}
